.Music{
    height:100%;
    width:100%;
    color:white;
    background-color: white;
    overflow: hidden;
    z-index:40;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: top;
    font-size:18px;
   
}
.Music >div{

    padding:5px 35px;
    white-space:nowrap;
    overflow: hidden;
    flex-grow: 1;
    box-sizing: border-box;
    width:100%;
    letter-spacing: 1.5px;
    border-bottom: 1px solid #303030;
}
.Title{
    text-align: center;
    font-weight: bold;
    color:white;
    background-color: #504d4d;
    font-size:24px !important;
}
.Controls{

    text-align: center;
    color:white;
    background-color: #504d4d;
    border-bottom: 0;
    font-size:18px !important;
}
